<!-- firehose track 3, lesson 40 - file (and analogous text.erb file) created 28 may 17 -->

<p>Hey There!</p>
<p>
    Congrats! <b>A comment has been added on Nomster.</b>
    Check it out <%= link_to 'here', place_url(@place) %>.
</p>

Aloha,<br />
Vic
